<div class="wbxtree">
	<div class="wbxtree_form">
		{{ form_row(entities) }}
	</div>
	
	<div class="wbxtree_tree">
		{{ tree | raw }}
	</div>

	<div class="wbxtree_loading">
		<img src="{{ asset('static/images/loader-medium.gif') }}">
	</div>
</div>